
{% extends "auction/index.html" %}

{% load static %}
{% block content %}
    <h2>Expired Listings</h2>
    <table class="table">
      {% if items %} {% for item in items %}
      <tr>
        <td width="10%" rowspan="2">
          <a href="{% url 'listing' item.id %}">
            <img src="{{ item.image.url }}" width="200px" height="200px" />
          </a>
        </td>
        <td width="30%">
          <a href="{% url 'listing' item.id %}"
            ><h3>{{ item.title }}</h3></a
          >
        </td>
        <td width="20%">{{ item.endDateTime }}</td>
      </tr>
      <tr>
        <td>{{ item.description }}</td>
        <td>£{{ item.price }}</td>
      </tr>
      {% endfor %}
    </table>

    {% else %}
    <p>there are no items up for bid</p>
    {% endif %}


    {% endblock %}
