{% extends "auction/index.html" %}
{% load static %}
    {% block content %}

    {% if item %}
    {% if expired %}
    <h1>THIS ITEM HAS EXPIRED</h1>
    {% endif %}
    <ul id="item" itemid="{{item.id}}">
      <li>{{ item.title }}</li>
      <li>{{ item.description }}</li>
      <img src="{{ item.image.url }}" width="200px" height="200px" />
      <li>{{ item.endDateTime }}</li>
      <li>{{ item.userProfile }}</li>
      {% if expired and winner %}
      <li>Winning Bidder: {{ winner.username }}</li>
      <li>Winning Bid: {{ item.price }}</li>
      {% else %}
      <li id="highest-bid-value">Highest Bid: {{ item.price }}</li>
      {% endif %}
    </ul>
    {% if request.session.username %}
    <input
      id="bid-amount"
      type="number"
      name="number"
      value="{{ item.price }}"
      max="999999.99"
    />
    {% if expired %}
    <button type="button" name="button" onclick="bidOnItem()" disabled>Bid</button>
    {% else %}
    <button type="button" name="button" onclick="bidOnItem()">Bid</button>
    {% endif %}
    <div id="error"></div>
    <br /><br />
    {% else %}
    <a href="{% url 'login' %}">Login to Bid</a>
    {% endif %} {% else %}
    <p>item doesnt exist</p>
    {% endif %}

    <h3>Bids on this Item</h3>

    <div id='bids-list'></div>

    <script type="text/javascript">
      function handleBidResp(resp) {
        if(resp.error){
          $('#error').html(resp.error)
          return;
        }
        $.ajax({
          url: '/auction/bids/' + $("#item").attr("itemid"),
          type: "GET",
          headers: {
            "X-CSRFToken": getCookie("csrftoken")
          },
          data: {
            itemId: $("#item").attr("itemid"),
            amount: $("#bid-amount").val()
          },
          success: handleGETBidsResp,
          error: handleGETBidsErr
        });
      }

      let csrf = $("input[name=csrfmiddlewaretoken]").val();
      $.ajax({
        url: '/auction/bids/' + $("#item").attr("itemid"),
        type: "GET",
        headers: {
          "X-CSRFToken": getCookie("csrftoken")
        },
        data: {
          itemId: $("#item").attr("itemid"),
          amount: $("#bid-amount").val()
        },
        success: handleGETBidsResp,
        error: handleGETBidsErr
      });

      function handleGETBidsResp(resp) {
        $('#bids-list').html('');
        if(!resp.length){
          $('#bids-list').html('There are no bids on this Item');
          return;
        }
        let highestBid = 0;
        for(const data of resp){
          if(parseFloat(data.amount) > highestBid){
            highestBid = data.amount;
          }
          let element = $("<p>" +data.username + " " + data.amount + "</p>");
          $('#bids-list').append(element);
        }
        $('#highest-bid-value').html(highestBid);
      }

      function handleGETBidsErr(e){
        console.log(e);
      }

      function handleBidErr(err) {
        console.log(err);
      }

      function bidOnItem() {
        $('#error').html('');
        let csrf = $("input[name=csrfmiddlewaretoken]").val();
        $.ajax({
          url: "/auction/bids/",
          type: "post",
          headers: {
            "X-CSRFToken": getCookie("csrftoken")
          },
          data: {
            itemId: $("#item").attr("itemid"),
            amount: $("#bid-amount").val()
          },
          success: handleBidResp,
          error: handleBidErr
        });
      }

      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          var cookies = document.cookie.split(";");
          for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }
    </script>

    {% endblock %}
