{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Listing: {{ item.title }}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'auction/listings.css' %}"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,900"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/auction/">Auction App</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/auction/listings"
              >Listings <span class="sr-only">(current)</span></a
            >
          </li>

          {% if request.session.username is None %}
          <li class="nav-item">
            <a class="nav-link" href="/auction/login"
              >Log In <span class="sr-only">(current)</span></a
            >
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/auction/list"
              >Post Item <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auction/logout"
              >Log Out <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/auction/profile"
                >Profile <span class="sr-only">(current)</span></a
              >
            </li
          {% endif %}
        </ul>
      </div>
    </nav>

    {% if item %}
    {% if expired %}
    <h1>THIS ITEM HAS EXPIRED</h1>
    {% endif %}
    <ul id="item" itemid="{{item.id}}">
      <li>{{ item.title }}</li>
      <li>{{ item.description }}</li>
      <img src="{{ item.image.url }}" width="200px" height="200px" />
      <li>{{ item.endDateTime }}</li>
      <li>{{ item.userProfile }}</li>
      {% if expired and winner %}
      <li>Winning Bidder: {{ winner.username }}</li>
      <li>Winning Bid: {{ item.price }}</li>
      {% else %}
      <li>Highest Bid: {{ item.price }}</li>
      {% endif %}
    </ul>
    {% if request.session.username %}
    <input
      id="bid-amount"
      type="number"
      name="number"
      value="{{ item.price }}"
    />
    {% if expired %}
    <button type="button" name="button" onclick="bidOnItem()" disabled>Bid</button>
    {% else %}
    <button type="button" name="button" onclick="bidOnItem()">Bid</button>
    {% endif %}
    <div id="error"></div>
    <br /><br />
    {% else %}
    <a href="/auction/login">Login to Bid</a>
    {% endif %} {% else %}
    <p>item doesnt exist</p>
    {% endif %}

    <h3>Bids on this Item</h3>

    <div id='bids-list'></div>

    <script type="text/javascript">
      function handleBidResp(resp) {
        if(resp.error){
          $('#error').html(resp.error)
          return;
        }
        $.ajax({
          url: '/auction/bids/' + $("#item").attr("itemid"),
          type: "GET",
          headers: {
            "X-CSRFToken": getCookie("csrftoken")
          },
          data: {
            itemId: $("#item").attr("itemid"),
            amount: $("#bid-amount").val()
          },
          success: handleGETBidsResp,
          error: handleGETBidsErr
        });
      }

      let csrf = $("input[name=csrfmiddlewaretoken]").val();
      $.ajax({
        url: '/auction/bids/' + $("#item").attr("itemid"),
        type: "GET",
        headers: {
          "X-CSRFToken": getCookie("csrftoken")
        },
        data: {
          itemId: $("#item").attr("itemid"),
          amount: $("#bid-amount").val()
        },
        success: handleGETBidsResp,
        error: handleGETBidsErr
      });

      function handleGETBidsResp(resp) {
        $('#bids-list').html('');
        if(!resp.length){
          $('#bids-list').html('There are no bids on this Item');
          return;
        }
        for(const data of resp){
          let element = $("<p>" +data.username + " " + data.amount + "</p>");
          $('#bids-list').append(element);

        }
      }

      function handleGETBidsErr(e){
        console.log(e);
      }

      function handleBidErr(err) {
        console.log(err);
      }

      function bidOnItem() {
        $('#error').html('');
        let csrf = $("input[name=csrfmiddlewaretoken]").val();
        $.ajax({
          url: "/auction/bids/",
          type: "post",
          headers: {
            "X-CSRFToken": getCookie("csrftoken")
          },
          data: {
            itemId: $("#item").attr("itemid"),
            amount: $("#bid-amount").val()
          },
          success: handleBidResp,
          error: handleBidErr
        });
      }

      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          var cookies = document.cookie.split(";");
          for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }
    </script>
  </body>
</html>
