{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'auction/listings.css' %}"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,900"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/auction/">Auction App</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/auction/listings"
              >Listings <span class="sr-only">(current)</span></a
            >
          </li>

          {% if request.session.username is None %}
          <li class="nav-item">
            <a class="nav-link" href="/auction/login"
              >Log In <span class="sr-only">(current)</span></a
            >
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/auction/list"
              >Post Item <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auction/logout"
              >Log Out <span class="sr-only">(current)</span></a
            >
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <h3>List an item</h3>
    <form>
      Title:
      <input id="title" type="text" name="title" value="title" /><br /><br />
      Description:
      <input
        id="description"
        type="text"
        name="description"
        value="description"
      /><br /><br />
      Upload Image:
      <input
        id="image"
        type="file"
        name="image"
        value="image"
        src="~/media/gallery/"
      /><br /><br />
      End Date and Time:
      <input
        id="endDateTime"
        type="datetime-local"
        name="datetime"
      /><br /><br />
      Starting Bid:
      <input id="price" type="number" step="0.02" name="price" /><br /><br />
    </form>
    <button onclick="listItem()">List Item</button>
    <script type="text/javascript">
      function handleListResp(resp) {
        window.location = `${window.location.origin}/auction/listings/${resp.itemId}`;
      }

      function handleListError(err) {
        console.log(err);
      }

      function listItem() {
        let csrf = $("input[name=csrfmiddlewaretoken]").val();
        $.ajax({
          url: "/auction/listings/",
          type: "post",
          headers: {
            "X-CSRFToken": getCookie("csrftoken")
          },
          data: {
            title: $("#title").val(),
            description: $("#description").val(),
            image: $("#image").val(),
            dateTime: $("#endDateTime").val(),
            price: $("#price").val()
          },
          success: handleListResp,
          error: handleListError
        });
      }

      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          var cookies = document.cookie.split(";");
          for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }
    </script>
  </body>
</html>
