{% extends "auction/index.html" %}
{% load static %}
    {% block content %}

    <div class="container jumbotron">
      <div class="panel">
        <br />
        <form id="login">
          {% csrf_token %}
          <br />
          <h5 class="text-muted">Enter your username and passsword</h5>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="usernameInput"
              placeholder="username"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              id="passwordInput"
              placeholder="Password"
              required
            />
          </div>
          <br />
          <button type="submit" class="btn btn-primary">Login</button>
          <br /><br />
          <span class="text-muted">
            No Account?
          </span>
          <br />
        </form>
        <a href="{% url 'register' %}"
          ><button type="button" class="btn btn-primary">Sign up</button></a
        >
      </div>

      <br />
      <div id="error" class="text-danger"></div>
    </div>
    <script type="text/javascript">
      function handleLoginSuccess(response) {
        if (response.success) {
          window.location = "/auction/listings/";
        } else {
          $("#error").text(response.error);
        }
      }

      function handleLoginError(response) {
        $("#error").html(response);
      }

      $("#login").submit(function(e) {
        e.preventDefault();
        let username = $("#usernameInput")
          .val()
          .trim();
        let password = $("#passwordInput").val();
        let csrf = $("input[name=csrfmiddlewaretoken]").val();
        $.ajax({
          url: "/auction/login/",
          type: "post",
          data: {
            csrfmiddlewaretoken: csrf,
            username: username,
            password: password
          },
          success: handleLoginSuccess,
          error: handleLoginError
        });
      });
    </script>

    {% endblock %}
