{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" type="text/css" href="{% static 'auction/login.css' %}" enctype='multipart/form-data'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container jumbotron">
    <div class="panel">
      <div class="text-danger">{{ Error }}</div>
      <br>
      <form method='post' action="{% url 'register' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="form-heading text-important">Create Account</h2>
        <br>
        <h5 class="text-muted">Enter your information</h5>
        <div class ="form-group">
          <input type="text" class = "form-control" id="usernameInput" placeholder="Username" name="username" required>
        </div>
        <div class ="form-group">
          <input type="email" class = "form-control" id="emailInput" placeholder="Email" name="email" required>
        </div>
        <div class ="form-group">
          <input type="date" class = "form-control" id="dobInput" placeholder="Date of Birth" name="dob" required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="passwordInput" placeholder="Password" name="password" required>
        </div>
        <br>
        <div class="d-inline">
          <button type="submit" class="btn btn-primary create-account-buttons">Create Account</button>
        </div>
      </form>
    </div>
  </div>
  <script>
  // gets the current date and sets it to the max for the date of birth inpput (so the user cannot enter a birth date after today)
 $(document).ready(function() {
   var today = new Date();
   var dd = today.getDate();
   var mm = today.getMonth()+1; //January is 0!
   var yyyy = today.getFullYear();
   $("#dobInput").attr("max",yyyy + "-" + mm + "-" + dd);
 });
 </script>
</body>
</html>
