{% extends "auction/index.html" %}
{% load static %}

  {% block content %}
  <div class="card"><div class="card-header"><h3>Create an Account</h3></div></div><br>
    <div class="container jumbotron col-4">
      <div class="panel">
        <form id="register">
          {% csrf_token %}
          <h5 class="text-muted">Enter your information</h5>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="username"
              placeholder="Username"
              name="username"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Email"
              name="email"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="date"
              class="form-control"
              id="dob"
              placeholder="Date of Birth"
              name="dob"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Password"
              name="password"
              required
            />
          </div>
          <br />
          <div class="d-inline">
            <button
              type="submit"
              class="btn btn-primary create-account-buttons"
            >
              Create Account
            </button>
          </div>
          <div id="error" class="text-danger"></div>
        </form>
      </div>
    </div>


    <script>
      $(document).ready(function() {
        let today = new Date();
        let dd = today.getDate();
        let mm = today.getMonth() + 1;
        let yyyy = today.getFullYear();
        $("#dob").attr("max", yyyy + "-" + mm + "-" + dd);
      });

      function handleRegisterError(err) {
        console.log(err);
      }

      function handleRegisterSuccess(resp) {
        if (resp.error) {
          $("#error").html(resp.error);
        } else if (resp.success) {
          // redirect to login page
          window.location = `${window.location.origin}/auction/login`;
        }
      }

      $("#register").submit(function(e) {
        e.preventDefault();
        let username = $("#username")
          .val()
          .trim();
        let password = $("#password").val();
        let email = $("#email").val();
        let dob = $("#dob").val();
        let csrf = $("input[name=csrfmiddlewaretoken]").val();
        $.ajax({
          url: "/auction/register/",
          type: "POST",
          data: {
            csrfmiddlewaretoken: csrf,
            username: username,
            password: password,
            email: email,
            dob: dob
          },
          success: handleRegisterSuccess,
          error: handleRegisterError
        });
      });
    </script>

    {% endblock %}
