{% extends "auction/index.html" %}
{% load static %}

{% block content %}

<head>
<link rel="stylesheet" type="text/css" href="{% static '/listing.css' %}"/>
</head>
    {% if item %}

      <div id="item" itemid="{{item.id}}" class="card">
        <div class="card-header">
          {% if expired %}
            <h3>Listing: {{ item.title }} - EXPIRED</h3>
          {% else %}
            <h3>Listing: {{ item.title }}</h3>
          {% endif %}
        </div>
      </div>
      <br>
      <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card flex-row flex-wrap">
              <div class="card-header border-0">
                  <img src="{{ item.image.url }}" class="img-fluid" id="image"/>
              </div>
              <div class="card-block px-2">
                  <h4 class="card-title">{{ item.title }}</h4>
                  <br>
                  <p class="card-text"><b>Description: </b>{{ item.description }}</p>
                  <p class="card-text"><b>End Date/Time: </b>{{ item.endDateTime }}</p>
                  <p class="card-text"><b>Listed By: </b>{{ item.userProfile.username }}</p>
                  <br>
                  {% if item.auction %}
                  <h4><p id="highest-bid" class="card-text"><b>Current Bid: </b> £{{ item.price }}</p></h4>
                  {% else %}
                  <h4><p class="card-text"><b>Price: </b> £{{ item.price }}</p></h4>
                  {% if item.stock == 0 %}
                  <p class="card-text"><b>Stock Left: </b>Out of stock</p>
                  {% else %}
                  <p id="stock" class="card-text"><b>Stock Left: </b>{{ item.stock }}</p>
                  {% endif %}
                  {% endif %}
                  <p class="card-text"><b></b>

              {% if item.auction %}
              <form id="auction-form" class="form-inline">
                <div class="form-group">
                  {% if not request.session.username %}
                    <a href="{% url 'login' %}">Log in to bid</a>
                  {% else %}
                  {% if expired %}
                  <p class="card-text"><b>Place Bid: </b> <input class="form-control"
                    id="bid-amount"
                    type="number"
                    name="number"
                    value="{{ item.price }}"
                    max="999999.99"
                    disabled
                  />
                    <button type="submit" name="button" class="btn btn-primary" disabled>Bid</button></p>
                    <div id="error"></div>
                  {% else %}
                  <p class="card-text"><b>Place Bid: </b> <input class="form-control"
                    id="bid-amount"
                    type="number"
                    name="number"
                    value="{{ item.price }}"
                    max="999999.99"
                    required
                  />
                    <button type="submit" name="button" class="btn btn-primary">Bid</button>
                  </p>
                  <div id="error"></div>
                  {% endif %}
                  {% endif %}
                </div>
              </form>
              {% else %}
              <form id="basket-form" class="form-inline">
                {% if not request.session.username %}
                  <a href="{% url 'login' %}">Log in to add to basket</a>
                {% else %}
                {% if expired or item.stock == 0 %}
                <label for="quantity">Quantity</label>
                <input type="number" class="form-control" name="quantity" id="quantity" max="{{item.stock}}" min="1" disabled>
                <button type="submit" name="button" class="btn btn-primary" disabled>Add to basket</button>
                {% else %}
                  <label for="quantity">Quantity</label>
                  <input type="number" class="form-control" name="quantity" id="quantity" max="{{item.stock}}" min="1" required>
                  <button id="basket-button" type="submit" name="button" class="btn btn-primary">Add to basket</button>
                {% endif %}
                {% endif %}
              </form>
              {% endif %}

              <!-- <form id="form" class="form-inline">
              <div class="form-group">
                {% if not request.session.username %}
                  <a href="{% url 'login' %}">Log in to bid</a>
                {% else %}

                {% if item.auction %}

                {% if expired %}
                <p class="card-text"><b>Place Bid: </b> <input class="form-control"
                  id="bid-amount"
                  type="number"
                  name="number"
                  value="{{ item.price }}"
                  max="999999.99"
                  disabled
                />
                  <button type="button" name="button" class="btn btn-primary" onclick="bidOnItem()" disabled>Bid</button></p>
                  <div id="error"></div>
                {% else %}
                <p class="card-text"><b>Place Bid: </b> <input class="form-control"
                  id="bid-amount"
                  type="number"
                  name="number"
                  value="{{ item.price }}"
                  max="999999.99"
                />
                  <button type="button" name="button" class="btn btn-primary" onclick="bidOnItem()">Bid</button>
                </p>
                <div id="error"></div>
                {% endif %}
                {% else %}                         
                  {% if expired or item.stock == 0 %}
                    <label for="quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="quantity" max="{{item.stock}}" min="1" disabled>
                    <button type="submit" name="button" class="btn btn-primary" disabled>Add to basket</button>
                  {% else %}
                    <label for="quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="quantity" max="{{item.stock}}" min="1" required>
                    <button type="submit" name="button" class="btn btn-primary" onclick="addToBasket()">Add to basket</button>
                  {% endif %}
                {% endif %}
                {% endif %}
              </div>
              </form> -->
              <p id="message"></p>
              </div>
          </div>
          <br>
        </div>
      </div>

    <br>

    {% if expired and winner %}
    <div class="row">
      <div class="col-sm">
        <h3>Winner</h3>
        <div class="list-group">
          <div class="list-group-item list-group-item-success flex-column align-items-start col-4">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><b>Winning Bidder: </b>{{ winner.username }}</h5>
            </div>
            <p class="mb-1"><b>Winning Bid: </b> £{{ item.price }}</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    {% endif %}

    {% if item.auction %}
    <h3>Bid History</h3>
    <div class="row">
      <div id="bids-list" class="col-sm">

      </div>
    </div>
    {% endif %}


    {% endif %}
    </div>

    <script type="text/javascript">

      $('#auction-form').submit(function(e) {
        e.preventDefault();
        bidOnItem();
      });

      $('#basket-form').submit(function(e) {
        e.preventDefault();
        addToBasket();
      })

      function handleBasketResp(resp) {
        $('#message').html('');
        if(resp.error) {
          $('#message').html(resp.error);
          return;
        }
        if(resp.stock === 0) {
          $('#stock').html(`<b>Stock Left: </b>Out of stock`);
          $('#quantity').prop('disabled', true);
          $('#basket-button').prop('disabled', true);
        } else {
          $('#stock').html(`<b>Stock Left: </b>${resp.stock}`);
          $('#quantity').prop('max', resp.stock);
        }
        $('#message').html('Successfully added to <a href="/auction/basket">basket.</a>')
      }

      function handleBasketErr(err) {
        console.log(err);
      }

      function addToBasket() {
        let csrf = $("input[name=csrfmiddlewaretoken]").val();
        $.ajax({
          url: '/auction/basket/',
          type: "POST",
          headers: {
            "X-CSRFToken": getCookie("csrftoken")
          },
          data: {
            itemId: $("#item").attr("itemid"),
            quantity: $('#quantity').val(),
          },
          success: handleBasketResp,
          error: handleBasketErr
        });
      }


      function handleBidResp(resp) {
        if(resp.error){
          $('#error').html(resp.error)
          return;
        }
        $.ajax({
          url: '/auction/bids/' + $("#item").attr("itemid"),
          type: "GET",
          headers: {
            "X-CSRFToken": getCookie("csrftoken")
          },
          data: {
            itemId: $("#item").attr("itemid"),
            amount: $("#bid-amount").val()
          },
          success: handleGETBidsResp,
          error: handleGETBidsErr
        });
      }

      let csrf = $("input[name=csrfmiddlewaretoken]").val();
      $.ajax({
        url: '/auction/bids/' + $("#item").attr("itemid"),
        type: "GET",
        headers: {
          "X-CSRFToken": getCookie("csrftoken")
        },
        data: {
          itemId: $("#item").attr("itemid"),
          amount: $("#bid-amount").val()
        },
        success: handleGETBidsResp,
        error: handleGETBidsErr
      });

      function handleGETBidsResp(resp) {
        $('#bids-list').html('');
        if(!resp.length){
          $('#bids-list').html('There are no bids on this Item');
          return;
        }
        let highestBid = 0;
        for(const data of resp){
          if(parseFloat(data.amount) > highestBid){
            highestBid = data.amount;
          }
          let element = $(`<div class="list-group">
                    <div class="list-group-item list-group-item-info flex-column align-items-start col-4">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><b>User: </b>${data.username}</h5>
                      </div>
                      <p class="mb-1"><b>Amount: £</b> ${data.amount}</p>
                    </div>
                  </div>`);
          $('#bids-list').append(element);
        }
        $('#highest-bid').html(`<b>Current Bid: </b>£${highestBid}`);
      }

      function handleGETBidsErr(e){
        console.log(e);
      }

      function handleBidErr(err) {
        console.log(err);
      }

      function bidOnItem() {
        $('#error').html('');
        let csrf = $("input[name=csrfmiddlewaretoken]").val();
        $.ajax({
          url: "/auction/bids/",
          type: "post",
          headers: {
            "X-CSRFToken": getCookie("csrftoken")
          },
          data: {
            itemId: $("#item").attr("itemid"),
            amount: $("#bid-amount").val()
          },
          success: handleBidResp,
          error: handleBidErr
        });
      }

      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          var cookies = document.cookie.split(";");
          for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }
    </script>

{% endblock %}
